doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/partials.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src='/javascripts/pageHeader.js')
    script(src='/javascripts/buttonBar.js')
  body(ng-app='ushare')
    block content
