doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/partials.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js')
    script(src='/javascripts/ui-bootstrap-2.5.0.min.js')
    script(src='/javascripts/pageHeader.js')
    script(src='/javascripts/buttonBar.js')
    script(src='/javascripts/roomController.js')
    script(src='/javascripts/modalController.js')
    script(src='/javascripts/roomOptionController.js')
  body(ng-app='ushare')
    block content
