extends layout

block content
  page-header(title=title)
  div(class="container-centered-horizontal container-padded" ng-controller='roomOptionController' ng-init='initPlaylistsModal(' + playlists + ',' + roomIdsToPlaylistIds + ',' + roomIdsToRoomNames + ',' + privateRooms + ')')
    div(class="modal fade" id="selectPlaylistModal" role="dialog")
      div(class="modal-dialog modal-lg")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal") &times
            h4(class="modal-title") Select A Playlist
          div(class="modal-body")
            div(class="container-centered-horizontal table-container")
              table(class="table table-striped")
                thead
                  tr
                    th Room Name
                    th Playlist Name
                    th Private
                    th Access Code
                    th Create
                tbody
                  tr(ng-repeat="playlist in playlists" id="{{playlist.id}}")
                    td 
                      input(type="text" ng-model="playlist.roomName" class="form-control")
                      label(ng-show="playlist.roomNameNeeded" class="input-required") You must enter a room name.
                    td {{::playlist.name}}
                    td
                      input(type="checkbox" ng-model="playlist.isPrivate")
                    td
                      input(type="text" ng-model="playlist.accessCode" class="form-control" ng-disabled="!playlist.isPrivate")
                    td 
                      button(type="button" class="btn btn-default" ng-click="choosePlaylist(playlist.roomName, playlist.id, playlist.isPrivate, playlist.accessCode)") Choose
          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Close

    div(class="modal fade" id="newPlaylistModal" role="dialog")
      div(class="modal-dialog modal-sm")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal") &times
            h4(class="modal-title") Create A New Playlist
          div(class="modal-body")
            form(class="container-centered-horizontal")
              div(class="form-group")
                label Room Name:
                input(type="text" ng-model="newPlaylist.roomName" class="form-control")
                label(ng-show="newPlaylist.roomNameNeeded" class="input-required") You must enter a room name.
              div(class="form-group")
                label Playlist Name:
                input(type="text" ng-model="newPlaylist.playlistName" class="form-control")
                label(ng-show="newPlaylist.playlistNameNeeded" class="input-required") You must enter a playlist name.
              div(class="form-group")
                label Private
                input(type="checkbox" ng-model="newPlaylist.isPrivate")
              div(class="form-group")
                label Access Code:
                input(type="text" ng-model="newPlaylist.accessCode" class="form-control" ng-disabled="!newPlaylist.isPrivate")
          div(class="modal-footer")
            button(type="button" class="btn btn-success" ng-click="newPlaylist()") Create
            button(type="button" class="btn btn-default" data-dismiss="modal") Close

    div(class="container-centered-horizontal text-centered container-padded")
      button(class="btn btn-default" type="button" data-toggle="modal" data-target="#selectPlaylistModal") Create Room From An Existing Playlist
      button(class="btn btn-default" type="button" data-toggle="modal" data-target="#newPlaylistModal") Create Room With An Empty Playlist

    form(class="container-centered-horizontal text-centered form-inline" method="post" action="/joinRoom")
      div(class="form-group")
        label Room ID:
        input(type="text" name="roomId" class="form-control")
      div(class="form-group")
        label Access Code:
        input(type="text" name="accessCode" class="form-control")
      button(class="btn btn-default" type="submit") Join Room

    div(class="container-centered-horizontal table-container")
      table(class="table table-striped")
        thead
          tr
            th Room Name
            th Private
            th Access Code
            th
        tbody
          tr(ng-repeat="room in rooms" id="{{room.id}}")
            td {{::room.name}}
            td
              div(ng-if="room.isPrivate==true") &#10004;
              div(ng-if="room.isPrivate==false") &#10006;
            td
              input(type="text" ng-model="room.accessCode" class="form-control" ng-disabled="!room.isPrivate")
            td 
              button(type="button" class="btn btn-default" ng-click="joinRoom(room.id, room.accessCode)") Join