extends layout

block content
	page-header(title=title)
	form(class="container-centered-horizontal text-centered" method="post" action="/newPlaylist")
		input(type="text" name="playlistName")
		input(class="button-default" type="submit" value="Create Room")
	form(class="container-centered-horizontal text-centered" method="post" action="/joinRoom")
		input(type="text" name="roomId")
		input(class="button-default" type="submit" value="Join Room")