extends layout

block content
  div(class="container-padded-top")
    page-header(title=title)
    div(ng-controller='modalController as $ctrl')
      script(type="text/ng-template" id="redirectModal.html")
        
      form(class="container-centered-horizontal text-centered")
        input(class="button-default" type="submit" ng-if="role=='host'" value="Close room")
        input(class="button-default" type="submit" value="Leave room" ng-click="$ctrl.open()")
    div(class="container-centered-horizontal container-padded" ng-controller='roomController' ng-init='initRoom(' + tracks + ',' + metadata + ')')    
      div(class="container-centered-horizontal table-container")
        table(class="table table-striped")
          thead
            tr
              th Track
              th Artist
              th(class="table-column-small") Remove
          tbody          
            tr(ng-repeat="track in tracks" id="{{track.id}}")
              td {{::track.name}}
              td {{::track.artist}}
              td(class="table-column-small")
                button(class="button-default" ng-click="add(track.id)") +
                button(class="button-default" ng-click="remove(track.id)") X