extends layout

block content
  div(class="container-padded-top")
    page-header(title=title)    
    div(class="container-centered-horizontal container-padded" ng-controller='roomController' ng-init="metadata=" + metadata)    
      div(class="container-centered-horizontal container-padded text-centered" ng-if='accessCode' id="room-status") Room access code: {{ accessCode }}
      div(class="container-centered-horizontal container-padded text-centered" ng-if='!accessCode' id="room-status") This room is public.
      div(ng-controller='modalController as m' ng-init="m.initModal(" + metadata +  ")")    
        form(class="container-centered-horizontal text-centered")
          input(class="btn button-secondary" type="submit" ng-value="m.modalData.btnLabel" ng-click="m.open()")

      div(class="modal fade" id="searchSongToAdd" role="dialog")
        div(class="modal-dialog modal-lg")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal") &times
              h4(class="modal-title") Search a Song
            div(class="modal-body")
              form(class="container-centered-horizontal text-centered")
                input(class="form-control" type="text" ng-model="searchString" placeholder="Search for a track or artist" uib-typeahead="entry for entry in updateSuggestions($viewValue)" typeahead-loading="gettingSuggestions" typeahead-no-results="emptyResults")
                div(ng-show="gettingSuggestions")
                  i(class="glyphicon glyphicon-refresh")
                div(class="loading error_message" ng-show="emptyResults")
                  i(class="glyphicon glyphicon-remove")
                  span No Results Found
            div(class="modal-footer")
              button(type="button" ng-click="add()" class="btn button-primary" data-dismiss="modal") Add
              button(type="button" class="btn" data-dismiss="modal") Close

      button(class="btn button-primary" ng-click="reset()" type="button" data-toggle="modal" data-target="#searchSongToAdd") Search & Add Songs to Playlist

      div(class="container-centered-horizontal table-container")
        table(class="table table-striped")
          thead
            tr
              th Track
              th Artist
              th(class="table-column-small") Remove
          tbody          
            tr(ng-repeat="track in tracks" id="{{track.id}}")
              td {{::track.name}}
              td {{::track.artist}}
              td(class="table-column-small")
                button(class="btn button-secondary" ng-click="remove(track.id)") X