html, body{
	height: 100%;
	padding: 0px;
}

body{
	color: #73706d !important;
	font: 1em helvetica;
}

a {
  color: white;
}

label{
	font-weight: 500;
	margin-right: 10px;
}

.container-centered-vertical{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container-centered-horizontal{
	margin: 0 auto;
}

.container-padded{
	max-width: 1000px;
	padding: 0px 50px 20px;
}

.container-padded-top{
	padding-top: 100px;
}

.table-column-small{
	width: 50px;
	text-align: center;
}

.table-container{
	max-height: calc(100vh - 250px);
	overflow-y: auto;
}

.padding-bottom-20{}
/*table th{
	text-align: center;
}*/

.form-inline > * {
	margin: 10px 20px;
}

.input-required {
	color: red;
}

.content-wrapped {
	display: inline-block;
}

.margin-20{
	margin: 0px 20px;
}

.header-form{
	text-align: right;
	padding-top: 20px;
}

.button-primary{
	background-color: #66B9BF;
	color: white;	
}

.button-secondary{
	background-color: #EEAA7B;
	color: white;
}

.button-large{
	font-size: 1.5em !important;
	font-weight: 500 !important;
	letter-spacing: 0.075em !important;
}

.button-normal{
	font-size: 1.15em !important;
}

.btn:hover, .btn:focus, a:hover, a:focus{
	color: white !important;
}

#directory-container{
	margin-top: 50px;
}

#join-form{
	margin-bottom: 20px;
}

#room-status{
	font-size: 1.25em;
}

.text-left{
	text-align: left;
}