html, body{
	height: 100%;
	padding: 0px;
}

body{
	font: 1em helvetica;
}

a {
  color: #00B7FF;
}

.container-centered-vertical{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container-centered-horizontal{
	margin: 0 auto;
}

.container-padded{
	max-width: 1000px;
	padding: 20px 50px;
}

.table-column-small{
	width: 50px;
	text-align: center;
}

/*table th{
	text-align: center;
}*/