.title{
	font-weight: 500;
}

.title-primary{
	color: #66B9BF;
}

.title-secondary{
	color: #EEAA7B;
}

.title-large{
	font-size: 4em;
	letter-spacing: 0.25em;
	margin: 0px 0px 20px;
}

.title-medium{
	font-size: 1.75em;
	letter-spacing: 0.1em;
	margin: 10px 0px;
}

.text-centered{
	text-align: center;
}
