div(class="container-centered-horizontal text-centered")
  form(ng-repeat="link in links" action="{{ link.endpoint }}")
    input(class="btn button-primary button-large" type="submit" value="{{ link.name }}")
